<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menù</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="styleAmm.css" />
</head>
<body style="background-color: #4682B4">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"> Home </a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="menuAmministratore.html"> Indietro  </a>
					</li>		
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form th:action="@{/logout}" method="post">
							<button type="submit" class="bottonelog">
								<font color="white ">Log-out </font>
							</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div align=center class="scelte">
		<p>
			<button type="button" class="inserisciA"
				style="border-radius: 10px; width: 400px"> <a href="inserimentoAutore.html"> Aggiungi Artista </a> </button>
			<button type="button" class="cancellaA"
				style="border-radius: 10px; width: 400px"> <a href="eliminazioneAutore.html"> Elimina Artista </a> </button>
		</p>
		<p style="margin-top: 100px">
			<button type="button" class="inserisciQ"
				style="border-radius: 10px; width: 400px"> <a href="inserimentoQuadro.html"> Aggiungi Quadro </a> </button>
			<button type="button" class="cancellaQ"
				style="border-radius: 10px; width: 400px"> <a href="eliminazioneQuadro.html"> Elimina Quadro </a> </button>
		</p>
	</div>
	<div></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>